#main-timeline{
    margin-top: 2em;
}

#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#results img {
    height: 4em;
    object-fit: cover; 
    }

#results li{
    list-style-type: none;

}

.filterbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

#ul_id {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:rgb(97, 97, 97);
}

#ul_id li:nth-child(6){
    font-weight: bolder;
}


#ul_id li:hover {
    font-weight: bold;
    color: rgb(34, 34, 34);
}

/* .timewheel li::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: rgb(255, 255, 255);
    border-radius: 999px;
    border: 3px solid orangered;
    margin-right: 2em;
} */

