.filterbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    }
    
    #results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    }
    
    #results li {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    text-align: center;
    }
    
    #results li img {
    width: 100%;
    height: 200px; /* Set the height to a fixed value to ensure consistency /
    object-fit: cover; / Scale the image to fill the container while preserving aspect ratio */
    border-radius: 50%;
    }
    
    .list-item {
    text-align: center;
    margin: 10px;
    }
    
    .list-item img {
    width: 200px; /* Set the width to a fixed value to ensure consistency /
    height: 200px; / Set the height to a fixed value to ensure consistency /
    object-fit: cover; / Scale the image to fill the container while preserving aspect ratio */
    border-radius: 50%;
    }
    
    .list-item h2 {
    margin: 0;
    font-size: 20px;
    }