/* ------------------------------Overall-------------------------------- */
:root {
  --activeBronze: #ab864f;
  --bgGrey: #AEB6BF;
  --modalFontColor: #f1f1f1;
  --mainColor: ;
}


body{
  background-image: url("assets/img/bg.png");
  color: #fafafa;
}
.pt-4{
  padding-top: 2rem !important;
}
.pt-5{
  padding-top: 0rem !important;
}


.underline:after{
  background: var(--activeBronze);
}

.checkbox-text{
  color: var(--activeBronze);
  font-weight: bold;
  padding-right: 1em;;
}

.form-check{
  padding-right:2.5em;
}

#main-timeline{
    margin-top: 2em;
}

/* ------------------------------results-------------------------------- */

#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;

}

#results img {
    height: 16em;
    filter: grayscale(1) ;
    object-fit: cover; 
    padding: 1em;
    transition: .35s;
    cursor: pointer;
}

#results img:hover {
  filter: grayscale(0) ;
  height: 16.5em;
}


#results li{
    list-style-type: none;

}

#graph-timeline{
  margin-top: auto;
  margin-bottom: auto;
}

/* ------------------------------Filter checkboxes-------------------------------- */

.filterbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.box_left{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.box_right{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.hr_big{
  width: 80%;
  border-bottom: solid 1px #414043;
}

/* ------------------------------Timeline-List (10years) -------------------------------- */
.timeline-list{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.active{
    font-weight: bolder;
    color: var(--activeBronze);
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: larger;
  }  
  
.passive {
    max-width: fit-content;
    padding-left: 2em;
    padding-right: 2em;
}

.invisible{
    opacity: 0;
    height: 0;
    width: 0;
}

.timeline-list li{
    list-style-type: none;
    cursor: pointer;
}
  
.passive:hover{
  color: var(--activeBronze);
}

.left {
  height: 12px;
  width: 12px;
  border: 1px solid var(--activeBronze);
  border-width: 2px 2px 0 0;
  border-radius: 0 2px 0 0;
  transform: rotate(-135deg);
}
.right {
  height: 12px;
  width: 12px;
  border: 1px solid var(--activeBronze);
  border-width: 2px 2px 0 0;
  border-radius: 0 2px 0 0;
  transform: rotate(45deg);
}

.left:hover,
.right:hover{
 border-width: 4px 4px 0 0;
}

/* ------------------------------Modal-------------------------------- */

.modal {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-image: url("assets/img/bg.png");
  z-index:2;
  color: var(--modalFontColor);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1.3rem;
  max-height: 55%;

  border: 1px solid #ddd;
  border-radius: 8px;

  width: 25em;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  .hidden {
    display: none;
  }

  #modal-image{
    border-bottom: 4px solid var(--activeBronze);
  }

  #modal-name{
    padding-top: 1em;
    color:  var(--activeBronze);
  }
  
/* ------------------------------Timeline-------------------------------- */

  .time_slider{
    margin-top: 3em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
  }

.plain:after{
    content: "";
    position: absolute;
    top: -10px;
    transform: translateX(-140%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #141414;
    z-index: 1;
    border: 3px solid var(--bgGrey);
}

.bright::after{
  content: "";
  position: absolute;
  top: -10px;
  transform: translateX(-140%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--activeBronze);
  z-index: 1;
}

.timebar{
    width: 100%;
    height: 0.2em;
    background: var(--bgGrey);
}

.timebar_progress{
    height: 0.2em;
    background: var(--activeBronze);
}
.slider_item{
  transform: translateX(-50%);
}

.text_nodes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  font-size:small;
  width: 100%;
  cursor: pointer;
}
  
.plain:hover::after { 
  background: var(--activeBronze);
  border: 4px solid var(--activeBronze);
  }
